@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.beige-gradient {  
  background: #EBE1CF;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
}

.vertical-timeline.vertical-timeline-custom-line::before {
  background: #EBE1CF;
}

.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element-icon {
  box-shadow: 0 0 0 2px #EBE1CF !important;
  box-shadow: 0 0 0 2px #EBE1CF !important;
}

.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--education .vertical-timeline-element-icon {
  box-shadow: 0 0 0 2px #EBE1CF !important;
  box-shadow: 0 0 0 2px #EBE1CF !important;
}